<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">NexConfig</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="coworkplans">
                <span class="oi oi-list-rich" aria-hidden="true"></span> CoWork Plans
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="coworkresources">
                <span class="oi oi-list-rich" aria-hidden="true"></span> CoWork Resources
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="coworkpasses">
                <span class="oi oi-list-rich" aria-hidden="true"></span> CoWork Passes
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="coworkproducts">
                <span class="oi oi-list-rich" aria-hidden="true"></span> CoWork Products
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="coworkfinancialaccounts">
                <span class="oi oi-list-rich" aria-hidden="true"></span> CoWork Financial Accounts
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
